<html>
<head>
    <title>Math Helper</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        input {
            width: 50px; /* Ширина поля в пикселах */
        }
    </style>
</head>
<body>
<br>
<a href="/">Back</a>
<br>
<br>

<i><font color="#b22222">Получение кода по проверочной матрице:</font></i>

<form id="selectSizes" onsubmit="submitFun();return false">
    <b>Размерность кода</b>
    <input type='number' name='q' value=2 min="0"/>
    <b>Размер матрицы</b>
    <select name="rows1">
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
    </select>
    <b>*</b>
    <select name="columns1">
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
    </select>
    <button type="submit">Ok</button>
</form>

<form id="inputForm" onsubmit="return false">
    <div id="input">
    </div>
</form>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script type="text/javascript" src="/static/RenderCode.js"></script>
<script>
    function submitFun() {
        $("#input").empty();

        const columns1 = document.forms["selectSizes"].elements["columns1"].value;
        const rows1 = document.forms["selectSizes"].elements["rows1"].value;
        const q = document.forms["selectSizes"].elements["q"].value;

        $("#input").append("<input type='hidden' name='columns1' value='" + columns1 + "'/>");
        $("#input").append("<input type='hidden' name='rows1' value='" + rows1 + "'/>");
        $("#input").append("<input type='hidden' name='q' value='" + q + "'/>");

        //inputNumber = "<input type='number' value='0' name='" + "' size='5'/>"

        $("#input").append("<p>Matrix 1</p>");
        for (i = 0; i < rows1; i++) {
            for (j = 0; j < columns1; j++) {
                $("#input").append("<input type='number' value='0' name='" + i + "_" + j + "_1' size='5'/>");
            }
            $("#input").append("<br>");
        }

        $("#input").append("<button id='submitMultiply' type=\"submit\">Get Code</button>");
    }

    $("#inputForm").on( "submit", function(){
        var formData = $(this).serialize();
        $.post('/checkMatrix', formData, function(data) {
            $('#content').remove();
            $("#input").append('<div id = "content"></div>');
            $("#content").append(renderCode(data.size, data.codeLines));
        });
    });
</script>
</body>
</html>