a {
    display: inline-block;
    position: relative;
    color: #333333;
    text-decoration: none;
    padding: 0.2em 0.05em;
    border-bottom: 2px solid #333333;
}

a:hover {
    color: #efefef;
}

a:after {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    background: #333333;
    z-index: -1;
    transition: all 0.1s cubic-bezier(0.000, 0.590, 1.000, 0.260);
}

a:hover:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #333333;
    z-index: -1;
}