<html>
<head>
    <title>Math Helper</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<br>
<a href="/">Back</a>
<br>
<br>

<form id="selectSizes" onsubmit="submitFun();return false">
    <b>Размеры первой матрицы</b>
    <select name="rows1">
        <option>2</option>
        <option>3</option>
        <option>4</option>
    </select>
    <b>*</b>
    <select name="columns1">
        <option>2</option>
        <option>3</option>
        <option>4</option>
    </select>
    <br>
    <b>Размеры второй матрицы</b>
    <select name="rows2">
        <option>2</option>
        <option>3</option>
        <option>4</option>
    </select>
    <b>*</b>
    <select name="columns2">
        <option>2</option>
        <option>3</option>
        <option>4</option>
    </select>
    <br>
    <button type="submit">Ok</button>
</form>

<form id="inputForm" onsubmit="return false">
    <div id="input">
    </div>
</form>

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script type="text/javascript" src="/static/RenderMatrix.js"></script>
<script>
    function submitFun(){
        $("#input").empty();

        const columns1 = document.forms["selectSizes"].elements["columns1"].value;
        const rows1 = document.forms["selectSizes"].elements["rows1"].value;

        $("#input").append("<input type='hidden' name='columns1' value='"+ columns1 + "'/>");
        $("#input").append("<input type='hidden' name='rows1' value='"+ rows1 + "'/>");

        inputNumber = "<input type='number' value='0' name='" +  "' size='5'/>"

        $("#input").append("<p>Matrix 1</p>");
        for(i = 0; i < rows1; i++) {
            for(j = 0; j < columns1; j++) {
                $("#input").append("<input type='number' value='0' name='" + i + "_" + j + "_1' size='5'/>");
            }
            $("#input").append("<br>");
        }
        const columns2 = document.forms["selectSizes"].elements["columns2"].value;
        const rows2 = document.forms["selectSizes"].elements["rows2"].value;

        $("#input").append("<input type='hidden' name='columns2' value='"+ columns2 + "'/>");
        $("#input").append("<input type='hidden' name='rows2' value='"+ rows2 + "'/>");

        $("#input").append("<p>Matrix 2</p>");
        for(i = 0; i < rows2; i++) {
            for(j = 0; j < columns2; j++) {
                $("#input").append("<input type='number' value='0' name='" + i + "_" + j + "_2' size='5'/>");
            }
            $("#input").append("<br>");
        }

        $("#input").append("<button id='submitMultiply' type=\"submit\">Multiply</button>");
    }

    $("#inputForm").on( "submit", function(){
        var formData = $(this).serialize();
        $.post('/multiplyMatrix', formData, function(data){
            $('#content').remove();
            $("#input").append('<div id = "content"></div>');
            if (data.err === 1) {
                $('#content').append("Error size of matrix, need to number of columns in first matrix = number of rows in second matrix");
            } else {
                $("#content").append("Rows: " + data.rows);
                $("#content").append("<br>");
                $("#content").append("Columns: " + data.columns);
                $("#content").append("<br>");

                $("#content").append(renderMatrix(data.rows, data.columns, data.cells));
            }
        });
    });
</script>
<style>
    input {
        width: 50px; /* Ширина поля в пикселах */
    }
</style>
</body>
</html>