<html>
<head>
    <title>Math Helper</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<br>
<a href="/">Back</a>
<br>
<br>

<i><font color="#b22222">You can inverse only Square Matrix</font></i>

<form id="selectSizes" onsubmit="submitFun();return false">
    <b>Размер матрицы</b>
    <select name="size">
        <option>2</option>
        <option>3</option>
        <option>4</option>
    </select>
    <button type="submit">Ok</button>
</form>

<form id="inputForm" onsubmit="return false">
    <div id="input">
    </div>
</form>

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script type="text/javascript" src="/static/RenderMatrix.js"></script>
<script>
    function submitFun(){
        $("#input").empty();

        const size = document.forms["selectSizes"].elements["size"].value;

        $("#input").append("<input type='hidden' name='size' value='"+ size + "'/>");

        inputNumber = "<input type='number' value='0' name='" +  "' size='5'/>"

        $("#input").append("<p>Matrix</p>");
        for(i = 0; i < size; i++) {
            for(j = 0; j < size; j++) {
                $("#input").append("<input type='number' value='0' name='" + i + "_" + j + "_1' size='5'/>");
            }
            $("#input").append("<br>");
        }

        $("#input").append("<button id='submitMultiply' type=\"submit\">Inverse</button>");
    }


    $("#inputForm").on( "submit", function(){
        var formData = $(this).serialize();
        $.post('/inverseMatrix', formData, function(data){
            $('#content').remove();
            $("#input").append('<div id = "content"></div>');
            if (data.err === 1) {
                $('#content').append("Determinant is 0, can't inverse this matrix");
            } else {
                $("#content").append("Size: " + data.size);
                $("#content").append("<br>");

                $("#content").append(renderMatrix(data.size, data.size, data.cells));
            }
        });
    });
</script>

<style>
    input {
        width: 50px; /* Ширина поля в пикселах */
    }
</style>
</body>
</html>