<html>
<head>
    <title>Math Helper</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        input {
            width: 50px; /* Ширина поля в пикселах */
        }
    </style>
</head>
<body>
<br>
<a href="/">Back</a>
<br>
<br>

<i><font color="#b22222">Возвести число в степень по модюлю:</font></i>
<form id="inputForm" onsubmit="return false">
    <i>Число:</i>
    <input type="number" name="number" id="number" value="0" min="0">
    <i>В степени:</i>
    <input type="number" name="degree" id="degree" value="0" min="0">
    <i>По модулю:</i>
    <input type="number" name="mod" id="mod" value="0" min="0">
    <button type="submit">Возвести в степень!</button>
</form>
<br><i>Результат: </i>
<div id="result">

</div>

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script type="text/javascript" src="/static/ModPow.js"></script>
<script>
    $("#inputForm").on( "submit", function(){
        var num = document.getElementById('number').value;
        var degree = document.getElementById('degree').value;
        var mod = document.getElementById('mod').value;

        var res = fastModularExponentiation(num, degree, mod);

        var resQ = $("#result");
        resQ.empty();
        resQ.append("<br>"+ res + "<br/>");
    });
</script>
</body>
</html>