<html>
<head>
    <title>Math Helper</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="../../../static/beauty.css">
</head>
<body>
<br>
<b>Welcome to Math Helper</b>
<br>
<br>
<a href="/multiplyMatrix">Multiply Matrix</a>
<br>
<br>
<a href="/inverseMatrix">Inverse Matrix</a>
<br>
<br>
<a href="/codingMatrix">Get Code By Coding Matrix</a>
<br>
<br>
<a href="/checkMatrix">Get Code by Check Matrix</a>
<br>
<br>
<a href="/modPow">Modular exponentiation</a>
</body>
</html>